Options -Indexes -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phar .inc .cgi .pl .py
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8 .phar .inc .cgi .pl .py

<IfModule mod_authz_core.c>
    # قوانین Apache 2.4
    <FilesMatch "(?i)\.(php|phtml|php3|php4|php5|php7|php8|phar|inc|pl|py|jsp|asp|htm|html|shtml|sh|cgi|htaccess|config)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "(?i)\.(php|phtml|php3|php4|php5|php7|php8|phar|inc|pl|py|jsp|asp|htm|html|shtml|sh|cgi|htaccess|config)$">
        Order Deny,Allow
        Deny from all
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set Content-Disposition "attachment"
    Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
</IfModule>